body {
    background: lightblue;
    margin: 0;
}
header{
    background-color: rgb(80, 80, 169);
    font-size: 75px;
    color: white;
    text-shadow: 0 0 10px #0e0a0a;
    justify-content: center;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: rgb(213, 213, 234);
}
h1{
    color:white;
    text-shadow: 0 0 10px #000;
}
#entryform{
    text-align: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


input[type=submit]:hover {
    border-color: rgb(52, 52, 121);
    text-shadow:rgb(52, 52, 121);
}

#employee {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;

  }

  h2 {
    color:white;
    text-shadow: 0 0 10px #000;
    text-align: center;
    border-radius: 15%;
    


  }
  
  #employee td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    font-weight: bold;
    border-color: white;
    border-right: solid;

  }
  #employee tr {
    background-color: #ddf6fa;
    border-bottom: solid;
    color:rgb(66, 66, 195);
    border-color: white;
    text-align: right;

    
    

  }
  #employee tr:nth-child(even){background-color: #f2ecec;}
  
  #employee tr:hover {background-color: #c9e7f4;}
  
  #employee th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #a7b7f8;
    color:rgb(66, 66, 195);
    border-bottom: solid;
    border-right: solid;
  }


  #employee button {
      padding: 0.6em 2em;
      border: none;
      outline: none;
      color: rgb(255, 255, 255);
      background: #111;
      cursor: pointer;
      position: relative;
      z-index: 0;
      border-radius: 10px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      display: block;
      width: 100%;

    }
    
    #employee button:before {
      content: "";
      background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
      );
      position: absolute;
      top: -2px;
      left: -2px;
      background-size: 400%;
      z-index: -1;
      filter: blur(5px);
      -webkit-filter: blur(5px);
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      animation: glowing-button-85 20s linear infinite;
      transition: opacity 0.3s ease-in-out;
      border-radius: 10px;
    }
    
    @keyframes glowing-button-85 {
      0% {
        background-position: 0 0;
      }
      50% {
        background-position: 400% 0;
      }
      100% {
        background-position: 0 0;
      }
    }
    
    #employee button:after {
      z-index: -1;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: #222;
      left: 0;
      top: 0;
      border-radius: 10px;
    }
  
